#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --nameserver=10.14.1.10,10.22.0.51 --netmask=255.255.254.0 --ipv6=auto --activate
#network  --hostname=testName.hh.nku.edu
# Reboot after installation
reboot
# Root password
#rootpw --iscrypted $6$tkOfJgf2lPlNg6Zx$EC2KQMAWPI6E0GtY48zY02AgZfYMsaPdlMTjLbFsRCgwAPxXbGhFlUKtJjex12W69vK93l2OshsGmwj0rvp0j1
rootpw --plaintext RootGroup3
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part swap  --fstype="swap" --ondisk=sda --size=512
part /  --fstype="xfs" --ondisk=sda --size=7680
part /var  --fstype="xfs" --ondisk=sda --size=2048



%packages
@^minimal
@core
chrony
kexec-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
